﻿@{
    ViewData["Title"] = "Home Page";
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container position-relative">
        <h1>Bienvenido a Gliss Vinyls</h1>
        <h2>Plataforma de Administración Exclusiva de GV</h2>
        <a href="@Url.Action("Index","Inicio")" class="btn-get-started scrollto"> Iniciar Sesión </a>
    </div>
</section><!-- End Hero -->
<section id="team" class="team section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Equipo</h2>
            <p>Conoce a las personas que hicieron posible la creación de esta página web.</p>
        </div>

        <div class="row justify-content-center align-items-center">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="~/img/team/gorky-palacios.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Gorky Palacios</h4>
                        <span>Gerente General</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="~/img/team/mateo-rosero.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://twitter.com/GorkyAnge"><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Mateo Rosero</h4>
                        <span>Administrador de Inventario</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Team Section -->