@model Producto

@{
    ViewData["Title"] = "Crear Producto";
    Layout = "_LayoutAdmin";
}

<section id="general" class="contact">
    <div class="container">
        <div class="section-title">
            <h2>Crear Vinilo</h2>
            <p>Crea vinilos con sus respectivos atributos.</p>

        </div>
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="Nombre" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Descripción</label>
                <input asp-for="Descripcion" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Cantidad</label>
                <input asp-for="Stock" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Precio</label>
                <input asp-for="Precio" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Imagen URL</label>
                <input asp-for="Imagen" class="form-control">
            </div>
            <div class="row col-6">
                <div class="col-6 col-md-6">
                    <button asp-action="Create" type="submit" class="btn btn-warning" style="color: white;" >Guardar</button>
                </div>
                <div class="col-6">
                    <a asp-action="Index" type="submit" class="btn btn-outline-warning">Regresar</a>
                </div>
            </div>
        </form>


    </div>
</section>
